html {
	--faded: #808080;
	
	font-family: sans-serif;
	font-size: 15px;
	color: #444444;
}

body {
	margin: 0;
}

.col {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

a {
	color: #005592;
}

div {
	box-sizing: border-box;
}

ul {
	margin: 0;
}
